.hide {
    display: none;
}

div {
    display:flex;
}

/* p {
    font-size: 0.9em;
} */

body {
    background: black;
    width: 98vw;
    height: 99vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.red {
    color: #F00;
}

.orange {
    color: #F80;
}

.yellow {
    color: #FF0;
}

.green {
    color: #0F0;
}

.blue {
    color: #08F;
}

.purple {
    color: #808;
}

#home {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.nav-item {
    color: white;
    font-size: 5vh;
    margin: 4vw;
    text-decoration: none;
}

#directions, #finishPage, #recordsPage, #aboutPage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
}

h3 {
    color: gray;
    font-size: 1.25em;
}

h1 {
    font-size: 2em;
}

/* toggle and checkbox styles based on code from geeksforgeeks
https://www.geeksforgeeks.org/how-to-create-toggle-switch-by-using-html-and-css/  */
.toggle {
    margin-right: 5vw;
    position : relative ;
    display : inline-block;
    width : 100px;
    height : 52px;
    background-color: red;
    border-radius: 30px;
    border: 2px solid gray;
}
       
/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
    top: 1px;
    left: 1px;
    transition:  all 0.5s;
}

.checkbox:checked + .toggle::after {
    left : 49px;
}
       
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: green;
}
       
/* Checkbox vanished */
.checkbox {
    display : none;
}

.column {
    flex-direction: column;
    margin: 0 10vw 0 10vw;
}

.source {
    margin: 1vh 0 3vh 0;
}

.username-entry {
    height: 8vh;
}

li {
    list-style-type: none;
}

button {
    color: white;
    border-color: white;
    background-color: black;
}

#blurb, form{
    margin-bottom: 5vh;
}